<div class="modal fade delete-guest-modal" id="dates-more-info" tabindex="-1" role="dialog" aria-labelledby="dates more info" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content info-modal">
      <div class="modal-header">
        <h4>Further information</h3>
        <button id="more-info-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Pre-meet</h5>
        <p>
          The picnic will take place in the park next to the Secret Garden Cafe in Bute Park.
          Bring along any food or drinks you fancy, a blanket to sit on and warm clothes!
        </p>
      </div>
      <div class="modal-body">
        <h5>Wedding</h5>
        <p>
          We'll be moving between venues on the day. So make sure to bring everything you need with you and wear shoes you can move in.
          We'll be arranging taxis between the ceremony and the restaurant, and can arrange for taxis on the day
          between the restaurant and the bar (it's a 15 minute walk between the two).
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>