{% extends "base.html" %}
{% block content %}
    <div id="smartwizard">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#step-1">
                    Guest Details
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-2">
                    Food Options
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#step-3">
                    Review
                </a>
            </li>
        </ul>


        <form id="create-account" class="col-md-8 mx-auto text-center border border-light p-5" method="POST"
            action="{{ url_for('create_account') }}">
            <div class="tab-content">

                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                    <div class="col-md-8 mx-auto text-center p-5">
                        <h3>Guest Details</h3>

                        <input type="text" name="guest-name" id="guest-name" class="form-control mb-4"
                            placeholder="Name of Guest" required>

                        <p>
                            Which events will this guest be attending?
                        </p>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Pre-meet - 7
                                May 2022, 1pm - 5pm
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Wedding Day - 21 May 2022, 2pm - midnight
                            </label>
                        </div>
                    </div>
                </div>

                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                    <div class="col-md-8 mx-auto text-center p-5">
                        <h3>Food Options</h3>

                        <p>
                            Please select your food options for the Wedding Day:
                        </p>

                        <div class="row">
                            <div class="input-field col s12">
                                <h5><label for="starter">Starter</label></h5>
                                <select id="starter" name="starter" class="validate">
                                    <option value="" selected>Choose your starter</option>
                                    {% for starter in starters %}
                                        <option value="{{ food_choices.starter }}">{{ food_choices.starter }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <h5><label for="main">Main</label></h5>
                                <select id="main" name="main" class="validate">
                                    <option value="" selected>Choose your main</option>
                                    {% for main in mains %}
                                        <option value="{{ food_choices.main }}">{{ food_choices.main }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <h5><label for="dessert">Dessert</label></h5>
                                <select id="dessert" name="dessert" class="validate">
                                    <option value="" selected>Choose your dessert</option>
                                    {% for dessert in desserts %}
                                        <option value="{{ food_choices.dessert }}">{{ food_choices.dessert }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                    <div class="card-panel">

                        


                        <button id="add-guest" class="btn my-4" type="submit">Add Guest</button>
                        <button id="create-rsvp-button" class="btn my-4" type="submit">Send RSVP</button>
                    </div>
                </div>
        </form>
    </div>

{% endblock %}