{% extends "base.html" %}
{% block content %}

    <form class="border border-light p-5" action="{{ url_for('add_guest', user_id=user_id) }}" method="POST">

        <p class="h3 mb-4">Guest Details</p>

        <input type="text" name="user_id" id="user_id" class="user_id" value="{{ user_id }}" hidden/>
        <label for="full_name">Name:</label>   
        <input type="text" name="full_name" id="full_name" class="form-control mb-4" placeholder="Enter full name of guest" required>

        <p class="h5 mb-4">Which events will this guest be attending?</p>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="attending_pre_meet" id="attending_pre_meet" class="custom-control-input">
            <label class="custom-control-label" for="attending_pre_meet">Pre-meet - 7 May 2022, 1pm - 5pm</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="attending_wedding" id="attending_wedding" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="attending_wedding">Wedding Day - 21 May 2022, 2pm - midnight</label>
        </div>

        <br>

        <p class="h5 mb-4">Please select food options:</p>

        <label>Starter</label>
        <select id="starter" name="starter" class="browser-default custom-select mb-4">
            <option value="Choose your starter" selected>Choose your starter</option>
            {% for starter in food_choices %}
                <option value="{{ starter.starter }}">{{ starter.starter }}</option>
            {% endfor %}
        </select>

        <label>Main</label>
        <select id="main" name="main" class="browser-default custom-select mb-4">
            <option value="Choose your main" selected>Choose your main</option>
            {% for main in food_choices %}
                <option value="{{ main.main }}">{{ main.main }}</option>
            {% endfor %}
        </select>

        <label>Dessert</label>
        <select id="dessert" name="dessert" class="browser-default custom-select mb-4">
            <option value="Choose your dessert" selected>Choose your dessert</option>
            {% for dessert in food_choices %}
                <option value="{{ dessert.dessert }}">{{ dessert.dessert }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-info" type="submit">Add Guest</button>
        <button class="btn btn-info" type="submit">Send RSVP</button>

    </form>

{% endblock %}