{% extends "base.html" %}
{% block content %}
        <!-- Default form login -->
    <div class="row"></div>
        <form class="col-md-8 mx-auto text-center border border-light p-5" method="POST" action="{{ url_for('login') }}">

            <p class="h4 mb-4">Log in to edit your RSVP</p>

            <!-- Email -->
            <input type="email" name="email" id="login-email" class="form-control mb-4" placeholder="E-mail" required>

            <!-- Password -->
            <input type="password" name="password" id="login-password" class="form-control mb-4" placeholder="Password" required>

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="login-remember-me">
                        <label class="custom-control-label" for="login-remember-me">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info my-4" type="submit">Log in</button>

            <!-- Register -->
            <p>
                Not got an account yet? <a href="{{ url_for('create_account') }}">RSVP</a> to create one.
            </p>

        </form>
    </div>
{% endblock %}