<footer class="page-footer font-small teal pt-3">
  <div class="row text-center">
        <div class="col-md-12">
            <h5 class="font-weight-bold ">Need to get in touch?</h5>
        </div>
        <div class="col-md-6">
            <p>
              <i class="footer-icon fas fa-phone"></i> +44 (0)1234 56789
            </p>
        </div>
        <div class="col-md-6">
          <p>
            <i class="footer-icon fas fa-envelope"></i> bizandchris@wedding.com
          </p>
        </div>
      </div>

  </footer>